body {
  margin:0;
  font-family: Arial;
  background:#0f172a;
  color:white;
}

header {
  position:sticky;
  top:0;
  background:#111827;
  padding:10px;
}

input {
  width:100%;
  padding:10px;
  border-radius:6px;
  border:none;
}

#app {
  padding:12px;
}

.card {
  background:#1f2937;
  padding:12px;
  margin:8px 0;
  border-radius:10px;
}

.rank {
  opacity:0.7;
  font-size:12px;
}

canvas {
  padding:10px;
}
